.chart-page {
    height: 100%;
    position: relative;
  }
  
  .chart-page--content {
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;
    padding: 0.8rem;
  }
  
  .chart-page .ant-card {
    margin: 1.6rem 0;
    
  }
  
  .chart-page .ant-card-body {
    padding: 1.6rem 0;
  }